node_modules/
.env
.env.local
.DS_Store
*.log
logs
*.log.gz
secrets/
components/secrets/
firebase-service-account.json
*-firebase-adminsdk-*.json
dist/
build/
english_g2.zip
craft_mlt_25k.zip
data/models--cross-encoder--ms-marco-MiniLM-L-6-v2/blobs/**
data/models--BAAI--bge-base-en-v1.5/blobs/**
data/models--*/*/blobs/**data/models--cross-encoder--ms-marco-MiniLM-L-6-v2/blobs/**
data/models--BAAI--bge-base-en-v1.5/blobs/**
data/models--*/blobs/**





# Virtual environments and cache
.venv/
.venv/**
**/__pycache__/
*.pyc
# Extra Python ignores
.venv/**
**/__pycache__/
*.pyc
google-cloud-sdk/
